* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.wireframe6 {
    width: 1440px;
    height: 1024px;
    position: relative;
    background-color: white;
}

.rectangle1 {
    width: 513px;
    height: 599px;
    position: absolute;
    left: 463px;
    top: 212px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.set-a-new-password {
    position: absolute;
    left: 558px;
    top: 332px;
    color: #247BA0;
    font-size: 32px;
}

.instructions {
    width: 358px;
    position: absolute;
    left: 541px;
    top: 407px;
    text-align: center;
    color: #989898;
    font-size: 16px;
}

.group28, .group29 {
    width: 370px;
    height: 50px;
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 10px;
    opacity: 0.5;
}

.group28 {
    left: 535px;
    top: 494px;
}

.group29 {
    left: 535px;
    top: 562px;
}

.password, .confirm-password {
    position: absolute;
    left: 19.29px;
    top: 16px;
    color: #1E1E1E;
    font-size: 15px;
    opacity: 0.5;
}

.fi-rr-eye-crossed {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 331px;
    top: 16px;
    background-color: #BCBCBC;
}

.group26 {
    width: 370px;
    height: 50px;
    position: absolute;
    left: 535px;
    top: 642px;
}

.rectangle30 {
    width: 370px;
    height: 50px;
    background-color: #247BA0;
    border-radius: 10px;
}

.update-password {
    position: absolute;
    left: 114px;
    top: 14px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.input-field{
    width: 370px;
    height: 50px;
    background-color: #D9D9D9;
    opacity: 0.5;
    border-radius: 10px;
    position: absolute;
    font-size: 15px;
    padding: 25px;
}
.ellipse1 {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 493px;
    top: 245px;
    
}

.vector {
    width: 26px;
    height: 14px;
    position: absolute;
    left: 523px;
    top: 267px;
}
