<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="style_forgot_pass.css">
</head>

<body>
    <div class="wireframe3">
        <div class="rectangle1"></div>

        <div class="forgot-your-password">Forgot your password</div>

        <div class="reset-instructions">
            Please enter your email to reset password
        </div>

        <form action="/reset_password" method="post">
            <div class="group21">
                <div class="rectangle24"></div>
                <input type="email" id="email" name="email" class="input-field" placeholder="Email address" required>
            </div>
            <div class="group26">
                <button type="submit" class="reset-password">Reset password</button>
            </div>
        </form>
        
        <a href="/login/login.html" class="back-to-login">
            <div class="ellipse1"><img src="/image/Ellipse 1.png" alt="Ellipse"></div>
            <div class="vector"><img src="/image/Vector.png" alt="vector"></div>
        </a>
    </div>
</body>

</html>
