<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Successful</title>
    <link rel="stylesheet" href="style_reset_password_success.css">
</head>

<body>
    <div class="wireframe7">
        <div class="rectangle1"></div>

        <div class="reset-password-successful">Reset password successful</div>

        <div class="group30">          
            <img src="/asset/Group 30.png" alt="">           
        </div>

        <a href="/login/login.html" class="group26">
            <div class="rectangle30"></div>
            <div class="back-to-login">Back to Log in</div>
        </a>
    </div>
</body>

</html>
