<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set a New Password</title>
    <link rel="stylesheet" href="style_set_new_password.css">
</head>

<body>
    <div class="wireframe6">
        <div class="rectangle1"></div>
        
        <div class="set-a-new-password">Set a new password</div>

        <div class="instructions">
            Your password has been successfully reset.<br />
            Create a new password. Ensure it differs<br />
            from previous ones for security.
        </div>

        <div class="group28">
            <div class="rectangle24"></div>
            <input type="password" id="password" name="password" class="input-field" placeholder="Password">
             
        </div>

        <div class="group29">
            <div class="rectangle24"></div>
            <input type="confirm-password" id="confirm-password" name="confirm-password" class="input-field" placeholder="confirm-password">
            
        </div>

        <div class="group26">
            <a href="/reset_password_success/reset_password_success.html">
            <div class="rectangle30"></div>
            <div class="update-password">Update password</div>
        </a>
        </div>

        <a href="/check_mail/check_email.html" class="back-to-checkmail">
            <div class="ellipse1"><img src="/asset/Ellipse 1.png" alt="Ellipse"></div>
            <div class="vector"><img src="/asset/Vector.png" alt="vector"></div>
        </a>
    </div>
</body>

</html>
